form>div>div {
    display: flex;
    flex-direction: row;
}


form>div>div>div {
    margin-left: auto;
    margin-right: 0;

}

form>div>div>div {
    /* margin-bottom: 1em; */
    display: flex;
    flex-direction: column;
}


#form {
    /* height: 30vh;
    width: 30vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

#container>div {
    padding: 0.3em;
}

#container>div>div {
    padding-left: 0.5em;
}

.active {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #990000;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

input:user-invalid {
    border-color: #990000;
    /* background-color: #ffdddd; */
}